.gameBoard {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  /* grid-template-rows: repeat(5, 1fr); */
  /* gap: 1rem; */
  max-width: max-content;
  margin: 0.8rem;
  /* max-height: max-content; */
}
