ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 20rem;
  width: 50rem;
  list-style-type: none;
  align-items: center;
  color: rgb(255, 255, 255);
  background: linear-gradient(
    rgb(20, 20, 20) 10%,
    rgb(80, 80, 80) 80%,
    rgb(20, 20, 20)
  );
  padding: 0.8rem;
  margin: 0.8rem;
  font-family: "Walter Turncoat", cursive;
  font-size: 1.6rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  border-radius: 1.2rem;
  box-shadow: inset -3px 0px 1px 1px rgba(255, 255, 255, 0.7),
    inset 0px -3px 1px 1px rgba(255, 255, 255, 0.7),
    6px 6px 3px 2px rgba(0, 0, 0, 0.4), -6px 6px 3px 2px rgba(0, 0, 0, 0.4);
}
li {
  padding: 0.8rem 0.4rem;
}
