@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);
@import url(https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap);

:root {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  /* overflow: hidden; */
  background: url(https://media.istockphoto.com/photos/green-felt-seamless-texture-picture-id1020149446?k=6&m=1020149446&s=170667a&w=0&h=OuHTnF0eqnbvxjbzV7N54DF1uYN7NAWQinPjQQQyoS8=);
}
a {
  text-decoration: none;
  color: inherit;
}
.application {
  display: flex;
  flex-direction: column;
  /* flex: 1 1 0; need to figure this out for responsiveness*/
  justify-content: center;
  align-items: center;
  border: 4px groove rgba(255, 255, 255, 0.4);
}
.title {
  font-size: 4.8rem;
  text-align: center;
  grid-column: 1 / span 2;
  width: 100%;
  background: -webkit-linear-gradient(rgb(201, 197, 0), rgb(0, 0, 0));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0.32rem -0.8rem 2.4rem black;
}
